.item{
    width: 300px;
}
.item img{
    width: 300px;
}

.item p{
    margin: 6px 0;

}

.item-prices{
    display: flex;
    gap: 20px;

}

.item-price-new{
    color:black;
    font-size: 18px;
    font-weight: 600;
    
}

.item-price-old{
    color:rgba(0, 0, 0, 0.621);
    font-size: 18px;
    font-weight: 600;
    text-decoration: line-through;
}

.item:hover{
   transform: scale(1.05);
   
}

@media (max-width:1600px) {
    .item{
        width: 240px;
        font-size: 14px ;
    }
    .item img{
        width: 240px;
    }
}
@media (max-width:1400px) {
    .item{
        width: 220px;
        font-size: 14px ;
    }
    .item img{
        width: 220px;
    }
}

@media (max-width:1280px) {
    .item{
        width: 220px;
        font-size: 14px ;
    }
    .item img{
        width: 220px;
    }
    .item-price-old{
        font-size: 14px;
    }
}
@media (max-width:1024px) {
    .item{
        width: 160px;
        font-size: 13px ;
    }
    .item img{
        width: 160px;
    }
    .item-price-old{
        font-size: 13px;
    }
}

@media (max-width:800px) {
    .item{
        width: 140px;
        font-size: 12px ;
    }
    .item img{
        width: 140px;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media (max-width:650px) {
    .item{
        width: 110px;
        font-size: 12px ;
    }
    .item img{
        width: 110px;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media (max-width:500px) {
    .item{
        width: 180px;
    }
    .item img{
        width: 180px;
    }
    
}


